<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>
        {{- .Title -}}
    </title>
    {{- block "head" . -}}{{- end -}}
</head>
<body>
    {{- block "site-header" . -}}
        {{- partial "site-header" . -}}
    {{- end -}}

    {{- block "main" . -}} {{ end }}

    {{- block "site-footer" . -}}
        {{- partial "site-footer" . -}}
    {{- end -}}
</body>
</html>
