<aside class="column sidebar">
    <nav class="post-list">
        <h2><a class="see-more" href="#">Best of</a></h2>
    </nav>
    <nav class="post-list">
        <h2><a class="see-more" href="#">About</a></h2>
    </nav>
    <nav class="post-list">
        <h2><a class="see-more" href="#">Categories</a></h2>
        <ul>
            <li><a class="block" href='#'>Home</a></li>
            <li><a class="block" href='#'>About</a></li>
            <li><a class="block" href='#'>Blog</a></li>
            <li><a class="block" href='#'>Sign Up</a></li>
        </ul>
    </nav>
</aside>