:root {
	--link-underline: #0000004e;
	--link-hover: #0060b6;
	--text-light: #111;

	--bg-body-light: #ddd;
	--bg-header-light: #eee;
	--bg-main-light: #fff;
}

/* border box */
*,
*::before, 
*::after {
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: underline solid #00000000 1px;
	text-underline-offset: 4px;
	color: var(--text-light);
	transition: all .2s;
}
a:not(.title-link):hover {
	color: var(--link-hover);
	text-decoration: underline solid var(--link-hover) 2px;
	text-underline-offset: 4px;
}
body {
	background-color: var(--bg-body-light);
	font-family: Arial, Helvetica, sans-serif;
}
p {
	margin-bottom: 1rem;
	line-height: 1.6rem;
	font-size: 1.2rem;
}
main {
	background-color: var(--bg-main-light);
	margin-inline: auto;
	max-width: 75rem;
	padding: 2rem 2.5rem;
	border: 1px solid #ccc;
}

/* || Classes */
.heading > a::before {
	content: "#";
	position: relative;
	left: -2ch;
	margin-right: -1ch;
}
.heading {
	clear: left;
	text-decoration: underline solid var(--link-underline) 1px;
	text-underline-offset: 4px;
}

.post-title {
	margin-bottom: 1rem;
}

/* || Header */
.site-header {
	z-index: 1;
	top: 0;
	border-bottom: 5px ridge #999;
	background-color: var(--bg-header-light);
}
.site-title {
	display: inline;
	padding: 0.2rem 2rem 2rem 2rem;
	font-size: 2rem;	
	font-weight: normal;
	font-family: "Comic Sans MS", Georgia, 'Times New Roman', Times, serif;
}
.site-topnav {
	padding: 0.8rem;
	display: inline-flex;
	justify-content: center;
	a {
		padding-inline: 10px;
		border-color: black;
		border-left: 2px solid black;
	}
	a:first-child {
		padding-left: 0;
		border-left: 0;
	}
}
.sticky-title {
	display: none;
}
@keyframes content-slideout {
	from {
		top: 0;
		margin-bottom: 0;
	}
	to {
		top: -50px;
		margin-bottom: -50px;
	}
}
@keyframes title-slidein {
	from {
	}	
	to {
	}
}
@supports (animation-timeline: scroll()) {
	.site-header {
		position: sticky;
	}
	.nonstick-content-box {
		position: relative;
		animation-timeline: scroll();
		animation-name: content-slideout;
	}
	.sticky-title {
		display: block;
		float: left;
		position: relative;
		animation-timeline: scroll();
		animation-name: title-slidein;
	}
}
@media screen and (max-width: 600px) {
	.site-title {
		text-align: center;
		display: revert;
	}
	.site-topnav {
		display: flex;	
	}
}

/* .see-more {
	display: block;
}
.see-more:hover {
	color: #111;
	text-decoration: underline;
}
.see-more::after {
	content: "►";
	display: inline-block;
	position: relative;

	transition: all .1s ease-in;
	opacity: 0;
	right: 1ch;
}
.see-more:hover::after {
	opacity: 1;
	right: 0; 
} */